:root {

--main-bg: #fff;
--sec-bg: rgb(233, 233, 233);
--main-color: #444;
--sec-color: #747474;
--menu-bg: rgba(255,255,255,.92);
--menu-bg-light: rgba(255,255,255,.4);

}

/* border-box */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* clearfix */
.group:before,
.group:after { content: " "; display: table; }
.group:after { clear: both; }

body {
    background-color: var(--main-bg);
    color: var(--main-color);
}


/* MENU */
header {
    width: 100%;
}


.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 0;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    transition: 1s;
    background: var(--menu-bg-light);
    color: var(--main-color);
    z-index: 5000;
}
.wrapper{
    max-width: 1110px;
    margin: auto;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}
nav ul li {
    display: inline-block;
    margin: 16px 5px;
    transition: transform .6s;
    text-transform: uppercase;
}
nav ul li:hover {
    transform: scale(1.2);
}
nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-color);
    padding: 1rem 1rem;

}
nav ul li:hover a {
    color: var(--main-color);
}
nav.black {
    background: var(--menu-bg);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 30%);
}
nav.black ul li a {
    color: var(--main-color);
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: var(--menu-bg);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 30%);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    display: none;

}
@media(max-width: 1170px) {
    .logo {
            margin-left: 40px;
    }
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: rgba(0, 0, 0, 0);
    }

    nav.black ul {
        background: var(--menu-bg);
    }

    .showing {
          max-height: 34em;
          box-shadow: 0 0 3px 0 rgb(0 0 0 / 30%);
          background-color: var(--main-bg);
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 5px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}


/* home */

header.home_top {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('../pic/bg1.jpg');
    background-size: cover;
    background-position: center
}
header.home_top .center_title {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    margin-top: -50px;
    z-index: 11;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
header.home_top .maintitle {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 4rem;
    line-height: 5.4rem;
    font-weight: bolder;
    color: white;
    text-shadow: #444 2px 2px 4px;
}
header.home_top .stars {
    position: relative;
    color: #FFDF00;
    text-shadow: #444 2px 2px 2px;
}
header.home_top .stars i {
margin: 5px 8px;
}


/* room */

header.room_top {
    width: 100%;
    height: 50vh;
    background-image: url('../pic/room.jpg');
    background-size: cover;
    background-position: 10% 50%;
}
header.room_top .center_title {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    margin-top: -50px;
    z-index: 11;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
header.room_top .maintitle {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 3rem;
    line-height: 4.4rem;
    font-weight: bolder;
    color: white;
    text-shadow: #444 2px 2px 4px;
}








.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #070707;
    width: 35px;
    height: 35px;
    z-index: 100000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    cursor: pointer;
    background-image: url(../pic/arrowup.svg);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border-radius: 50%;
}